{% extends "base.html" %}

{% block title %}
<title>
	技闻-简单，坚持，造就完美
</title>
{% endblock%}

{% block content %}
<div id="mainWrapper">
    <div class="contentLefts">
        <div class="newest">
            <h5>最新文章</h5>          
			<ul>
			{% for article in articles_newest %}
       			<li class="{% cycle 'odd' 'even' %}"><span>{{article.post_time|date:"Y-m-d H:i"}}</span><a target="_blank" href="/article/{{article.id}}/" title="{{article.title}}">{{article.title}}</a> </li>
   			{% endfor %}
			</ul>
			<p>
				<a target="_blank" href="/category/newest/">
					更多>>></a>
			</p>
		</div>
		<div class="newest">
            <h5>推荐文章</h5>          
			<ul>
			{% for article in articles_rec %}
				<li class="{% cycle 'odd' 'even' %}"><span>{{article.post_time|date:"Y-m-d H:i"}}</span><a target="_blank" href="/article/{{article.id}}/" title="{{article.title}}">{{article.title}}</a> </li>
			{% endfor %}
			</ul>
			<p>
				<a target="_blank" href="/category/reconmend/">
					更多>>></a>
			</p>
        </div>
        
    </div>
    <div class="contentRights">
        {% include 'post.html' %}
        {% include 'link.html' %}
        {% include 'contact.html' %}
        
        
        <div class="ad">
       <script type="text/javascript"><!--
google_ad_client = "pub-3757168957026583";
/* 180x150, 创建于 09-9-25 */
google_ad_slot = "5456719808";
google_ad_width = 180;
google_ad_height = 150;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
        </div>
        
        
    </div>
    <div class="clear"></div>
</div>
{% endblock %}