<div class="link">
    <h5>友情链接</h5>
	<ul>
		<li><a href="http://www.google.com" target="_blank">谷歌</a></li>
		<li><a href="http://www.baidu.com" target="_blank">百度</a></li>
		<li><a href="http://www.javaeye.com" target="_blank">JavaEye</a></li>
		<li><a href="http://www.csdn.net" target="_blank">CSDN</a></li>
		<li><a href="http://solidot.org" target="_blank">奇客</a></li>
		<li><a href="http://www.oschina.net" target="_blank">开源中国</a></li>
		<li><a href="http://www.open-open.com" target="_blank">Java开源大全</a></li>
		<li><a href="http://www.webmasterhome.cn" target="_blank">中国站长之家</a></li>
		<li><a href="http://python.cn" target="_blank">Python中文社区</a></li>
	</ul>
</div>