{% extends "base.html" %}

{% block title %}
<title>
	技闻-{{category_title}}
</title>
{% endblock%}

{% block other_media%} 
<script type="text/javascript" src="/media/jquery/jquery.truncate.js"></script> 
    <script type="text/javascript">
       $(document).ready(function(){
	$(".article_summary").truncate( 160,{
        chars: /[^x00-xff]/
    });
});
    </script>
{% endblock %}

{% block content %}
<div id="mainWrapper">
    <div class="contentLefts">
        <div class="newest">
            <h5>{{category_title}}</h5>          
			<ul>
			{% for article in articles.object_list %}
			<div class="articles">
   				<a target="_blank" href="/article/{{article.id}}/" title="{{article.title}}"><h2>{{article.title}}</h2></a>
		        {% autoescape off %}<div class="article_summary">{{article.content}}</div>{% endautoescape %}
		        <li class="even"><span>阅读人数：{{article.read_count}} | 发表时间：{{article.post_time|date:"Y-m-d H:i"}}</span><a href="/article/{{article.id}}/">阅读全文</a></li>
   			</div>
   			{% endfor %}
			</ul>
		<div class="pagination">
           	 <span class="step-links">
                                            共{{articles.paginator.num_pages}}页|
                {% ifnotequal articles.number 1 %}<a href="/category/{{category}}/1/">第一页</a>{% endifnotequal %}
                {% ifequal articles.number 1 %}第一页{% endifequal %}
                
                {% if articles.has_previous %}<a href="/category/{{category}}/{{ articles.previous_page_number }}/">上一页</a>{% endif %}
                {% if not articles.has_previous %}上一页 {% endif %}
                
                {% for index in page_range%}
                    {% ifequal articles.number index%}
                        [{{index}}]
                    {% endifequal%}
                    {% ifnotequal articles.number index%}
                        <a href="/category/{{category}}/{{ index }}/">[{{index}}]</a>
                    {% endifnotequal%}
                {% endfor %}
                
                {% if articles.has_next %}<a href="/category/{{category}}/{{ articles.next_page_number }}/">下一页</a>{% endif %}
                {% if not articles.has_next %}下一页 {% endif %}
                
                {% ifnotequal articles.number articles.paginator.num_pages %}<a href="/category/{{category}}/{{articles.paginator.num_pages}}/">最末页</a>{% endifnotequal %}
                {% ifequal articles.number articles.paginator.num_pages %}最末页{% endifequal %}
            </span>
        </div>
		</div>
        
    </div>
    <div class="contentRights">
        {% include 'post.html' %}
        {% include 'link.html' %}
        {% include 'contact.html' %}
        {% include 'ADleft.html' %}
        {% include 'ADleft.html' %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}